.main {
    display: grid;
    grid-template-columns: [a] 100px [b] 65fr [c] 35fr [d];
    grid-template-rows: [first] 100px [second] minmax(300px, 1fr) [third] 150px [fourth];
    grid-template-areas:
        "logo menu menu"
        "news list nav"
        "foot foot nav";
    min-height: 100vh;
    margin: 0;
    text-align: center;
    color: white;
    text-shadow: 0px 1px 3px rgba(0,0,0,0.19);
    font-size: 30px;
}

.logo {
    background-color: yellow;
    color: grey;
    grid-area: logo;
    display: flex;
    justify-content: center;
    align-items: center;
}

.menu {
    background-color: red;
    grid-area: menu;
    display: flex;
    justify-content: center;
    align-items: center;
}

.news {
    background-color: magenta;
    grid-area: news;
    display: flex;
    justify-content: center;
    align-items: center;
}

.list {
    background-color: orange;
    grid-area: list;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav {
    background-color: grey;
    grid-area: nav;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer {
    background-color: olive;
    grid-area: foot;
    display: flex;
    justify-content: center;
    align-items: center;
}
